@charset "UTF-8";

/*
Palheta de Cores
----------------
Chocolate: chocolate
Azul: #53ADE8

*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: chocolate;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 310px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.453);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: chocolate url("../imagens/wallpaper-lapis.jpg");
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p {
    font-size: 0.9em;
    font-weight: bolder;
    margin-bottom: 8px;
}

div.campo {
    width: 100%;
    height: 100%;
    font-weight: 670;
    display: block;
}

div.campo > input {
    font-size: 1em;
}

.submit {
    display: block;
    font-size: 1em;
    margin: 10px 0px;
    width: 100%;
    height: 30px;
    background-color: rgb(15, 186, 87);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.525);
    font-weight: 500;
}

.submit:hover {
    background-color: rgb(5, 145, 63) ;
    font-weight: 700;
    transition: .3s;
}

.botao {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(153, 146, 3);
    margin: 10px 0px;
    width: 100%;
    height: 30%;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.525);
    font-weight: 500;
}

.botao:hover {
    background-color: rgb(125, 119, 4);
    font-weight: 700;
    transition: .3s;
}